
startBrowser() {
	# psd service init script modified to create this tmp file after finish starting
	psd="/tmp/psdstarted"
	tries=0	
	# start after psd daemon
	while [ ! -e "$psd" ]; do
		tries=$(( tries + 1 ))
		sleep 1;
		[ "$tries" -gt 60 ] && notify-send "Failed to start chrome in 1m" && exit 1
	done

	notify-send "Starting chrome"
	logmy.sh google-chrome-stable --force-dark-mode
}

feh --no-fehbg --recursive --bg-fill --randomize "$HOME/images/wallpaper" &
notify-send "Starting ssh-agent";	eval "$(ssh-agent -t 1h)"

sleep 3 && {  notify-send "Starting picom";		logmy.sh picom --experimental-backends; } &
sleep 5 && {  notify-send "Starting pulseaudio";	logmy.sh pulseaudio --start; } &
sleep 7 && {  notify-send "Starting dwmblocks";		logmy.sh dwmblocks; } &
sleep 9 && {  notify-send "Starting discord";		logmy.sh discord; } &
sleep 11 && {  startBrowser; } &

